/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom CSS */

* {
    font-family: VT323, monospace;
}

h2 {
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 7px;
}

.border {
    border: 1px solid grey;
}

.main-flex-container{
    display: flex;
    align-items: start;
    flex-direction: row;
}

.canvas-area {
    border: 1px solid gray;
    width: 50%;
    overflow: auto;
    margin: 2.5%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.palette-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.5%;
}

.color-option {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin: 5px;
    border-radius: 25px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.color-option:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.current-color {
    display: inline-block;
    margin: 10px;
}

.current-color-value{
    width: 100%;
}

.current-color-value p {
    margin: 10px 0;
}

.current-color-value > p > span:first-of-type {
    background-color: snow;
    border-radius: 3px;
    padding: 10px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
.current-color-value > p > span:last-of-type{
    display: inline-block;
}

.default-colors {
    margin: 10px;
}

.pixel-font {
    margin-left: 2.5%;
    margin-top: 1%;
    font-family: VT323, monospace; 
}